.button{
    padding: 0 25px;
    line-height: 42px;
    border: 2px solid #b1b4c1;
    border-radius: 6px;
    font-size: 14px;
    background-color: transparent;
    color: #c6c9d8;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.button:hover{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    color: #fff;
    border: 2px solid #f9004d;
    background: #f9004d;
    border-radius: 6px;
}