.Main-banner {
  background-image: url(../../assets/footer-bg.jpg);
  position: relative;
  z-index: 1;
  color: #c6c9d8;
  min-height: 1080px;
}
footer::before, .Main-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00010c;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
}