.progressbar{
    background-color: #f5f7fd;
    height: 20px;
    position: relative;
}
.progress{
    position: absolute;
    height: 100%;
    border-radius: 0%;
    background-image: linear-gradient(-270deg,#f9004d,#f9004f,#5d51ff);
}