.banner {
    background-image: url(/src/assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.banner button {
    background: #f9004d;
    color: #fff;
    border: 2px solid #f9004d;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 9px 25px;
    border-radius: 6px;
    font-weight: 600;
    line-height: 1.714286;
    margin-top: 50px;
}

.banner button:hover {
    background: transparent;
    color: #f9004d;
}